.idea
.DS_Store
.vscode
target
.release
.aider*
.build*
.swiftpm*

# Ignore the extracted XCFramework platform directories but keep their zip files
platforms/ios/ChainKit/Sources/ChainKitFFI.xcframework/*
!platforms/ios/ChainKit/Sources/ChainKitFFI.xcframework/*.zip
!platforms/ios/ChainKit/Sources/ChainKitFFI.xcframework/Info.plist